<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title> Karta Pacjenta </title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="navigation">
        <a class="navigation__link navigation__link-homepage" th:href="@{/}">Strona główna</a>
    </nav>
</header>

<main>
    <div>
        <form action="#" method="post" th:action="@{/search}">
            <input class="form-input" th:name="search" type="text"/>
            <input class="page-button" type="submit" value="szukaj"/>
        </form>
    </div>
    <table class="content-table">
        <tr class="table__head">
            <th>Imię</th>
            <th>Nazwisko</th>
            <th></th>
        </tr>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient?.getName}">Imię</td>
            <td th:text="${patient?.getSurname}">Nazwisko</td>
            <td><a th:href="@{/{id} (id = ${patient?.getId})}">Szczegóły Pacjenta</a></td>
        </tr>
    </table>
</main>
</body>
</html>