<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title> Karta Pacjenta </title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="navigation">
        <a class="navigation__link navigation__link-homepage" th:href="@{/}">Strona główna</a>
        <div class="navigation__link-position">
            <div>
                <a class="navigation__link" th:href="@{/}">Historia<br/>Pacjenta</a>
            </div>
            <div>
                <a class="navigation__link" th:href="@{/}">Obserwacje</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <table class="content-table">
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Imię</b></td>
            <td th:text="${patient?.getName}">Imię</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Nazwisko</b></td>
            <td th:text="${patient?.getSurname}">Nazwisko</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Płeć</b></td>
            <td th:text="${patient?.getGender}">Płeć</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Data Urodzenia</b></td>
            <td th:text="${patient?.getBirthDate}">Data Urodzenia</td>
        </tr>
    </table>
    <table class="content-table">
        <tr class="table__head">
            <th>Nazwa</th>
            <th>Wartość</th>
            <th>Jednostka</th>
        </tr>
        <tr th:each="observation : ${patient?.getObservations}">
            <td th:text="${observation?.getName}">Nazwa</td>
            <td th:text="${observation?.getValue}">Wartość</td>
            <td th:text="${observation?.getUnit}">Jednostka</td>
        </tr>
    </table>
</main>

</body>
</html>