<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title> Karta Pacjenta </title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="navigation">
        <a class="navigation__link navigation__link-homepage" th:href="@{/}">Strona główna</a>
    </nav>
</header>
<main>
    <form action="#" method="post" th:object="${filter}" th:action="@{/{id}/filter (id = ${id})}">
        <label>Data Początkowa</label> <br>
        <input th:field="*{startDate}" type="date"/> <br>
        <label>Data Końcowa</label> <br>
        <input th:field="*{endDate}" type="date"/><br>
        <input class="page-button" type="submit" value="filtruj"/><br>
    </form>
    <table class="content-table">
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Imię</b></td>
            <td th:text="${patient?.getName}">Imię</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Nazwisko</b></td>
            <td th:text="${patient?.getSurname}">Nazwisko</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Płeć</b></td>
            <td th:text="${patient?.getGender}">Płeć</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Data Urodzenia</b></td>
            <td th:text="${patient?.getToPrintDate}">Data Urodzenia</td>
        </tr>
    </table>
    <table class="content-table">
        <tr class="table__head">
            <th>Nazwa</th>
            <th>Data</th>
            <th>Wartość</th>
            <th>Jednostka</th>
        </tr>
        <tr th:each="observation : ${patient?.getObservations}">
            <td th:text="${observation?.getName}">Nazwa</td>
            <td th:text="${observation?.getToPrintDate}">Data</td>
            <td th:text="${observation?.getValue}">Wartość</td>
            <td th:text="${observation?.getUnit}">Jednostka</td>
        </tr>
    </table>
    <table class="content-table">
        <tr class="table__head">
            <th>Nazwa</th>
            <th>Data</th>
            <th>Ilość</th>
            <th>Częstość</th>
            <th>Okres</th>
            <th>Jednostka</th>
        </tr>
        <tr th:each="medicationRequest : ${patient?.getMedicationRequests}">
            <td th:text="${medicationRequest?.getName}">Nazwa</td>
            <td th:text="${medicationRequest?.getToPrintDate}">Data</td>
            <td th:text="${medicationRequest?.getDoseQuantity}">Ilość</td>
            <td th:text="${medicationRequest?.getFrequency}">Częstość</td>
            <td th:text="${medicationRequest?.getPeriod}">Data</td>
            <td th:text="${medicationRequest?.getPeriodUnit}">Data</td>
        </tr>
    </table>
</main>

</body>
</html>